@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}


body{
    background-color: rgb(210, 210, 210);
    padding: 0;
    margin: 0;
    
}

header{
    font-size: larger;
    font-style: italic;
    text-align: center;

    color: rgb(0, 0, 0);

    margin: 50px;
}

nav{
    text-align: center;
    margin: 80px;
}


nav+p{
    background-color: white;
}

img{
    width: 125px;
    height: 140px;
}

section{
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

section a{
    margin: 0;
    padding: 0;

    text-decoration: none;

    width: 100%;
    min-height: 80px;
    max-height: 100px;
}

.myBox{

    background-color: white;

    border-radius: 15px;

    margin: 4vh;

    font-size: 20px;

    box-shadow: 0 0 2.5em black;

    color: black;

    will-change: transform;
    transition: transform 450ms;

    display: flex;
    justify-content: center;
}

.myBox:hover{
    transition: transform 250ms;
    transform: translateY(-18%)
}

.myBox p{
    margin: 1.5%;
}

#pai{
    display: flex;
}

.info{
    margin: 10px;
    font-size: 22px;
    width: 50%;
}

.info hr{
    width: 50%;
}

footer{
    background-color: black;
    color: white;

    text-align: center;

    padding: 6px;
    margin-top: 135px;
    margin-bottom: 0px;

    height: 25px;
    

    font-size: 15px;
}

#content{
    margin-left: 120px;
    margin-right: 120px;

    font-size: large;

    text-align: center;
}